# Operators (Arithmetic, Comparison, Logical, Assignment)

In [2]:
x = 15
y = 10
print("Sum:", x + y)

x = 10
y = 8
print("Difference:", x - y)

x = 10
y = 5
print("Product:", x * y)

x = 8
y = 4
print("Product:", x / y)

Sum: 25
Difference: 2
Product: 50
Product: 2.0

In [3]:
x = 150
print("Greater than 100:", x > 100)

Greater than 100: True

In [4]:
x = 5
y = 5
print(x == y)

True

In [5]:
y = 30
print("Divisible by 3 and 5:", y % 3 == 0 and y % 5 == 0)

Divisible by 3 and 5: True

In [6]:
y = 30

if y % 3 == 0 and y % 5 == 0:
    print("True, y is divisible by both 3 and 5.")
else:
    print("False, y is not divisible by both 3 and 5.")

True, y is divisible by both 3 and 5.

In [7]:
num = 9

if num % 4 == 0 or num % 7 == 0:
    print("True, the number is even or divisible by 7.")
else:
    print("False, the number is neither even nor divisible by 7.")

False, the number is neither even nor divisible by 7.

In [8]:
x = 8

# Using += to add 2 to x
x += 2

# Using *= to multiply x by 4
x *= 4

print("Modified value:", x)

Modified value: 40

In [9]:
age1 = 32
age2 = 20
if age1 > age2:
    print("First person is older")
elif age2 > age1:
    print("Second person is older")
else:
    print("Both are the same age")

First person is older

In [10]:
is_light_on = False
print("Is the light not on?", not is_light_on)

Is the light not on? True

In [11]:
x = 8
y = 3
z = 5

if x < y and x < z:
    smallest = x
elif y < z:
    smallest = y
else:
    smallest = z

print("The smallest number is:", smallest)

The smallest number is: 3

In [12]:
x = 20
y = 15
x, y = y, x
print("x =", x, "y =", y)

x = 15 y = 20

# List

In [14]:
items = ["cat", "dog", "monkey", "lion", "tiger"]
for item in items:
    print(item)

cat
dog
monkey
lion
tiger

In [15]:
items = ["cat", "dog", "monkey", "lion", "tiger"]

items.append("rabbit")
print(items)

['cat', 'dog', 'monkey', 'lion', 'tiger', 'rabbit']

In [16]:
items.insert(2, 100)
print(items)

['cat', 'dog', 100, 'monkey', 'lion', 'tiger', 'rabbit']

In [17]:
items.pop()
print(items)

['cat', 'dog', 100, 'monkey', 'lion', 'tiger']

In [18]:
list_of_numbers = [10, 40, 20, 50, 30]
list_of_numbers.sort()
print(list_of_numbers)

[10, 20, 30, 40, 50]

In [19]:
list_of_numbers.reverse()
print(list_of_numbers)

[50, 40, 30, 20, 10]

In [20]:
print(sum(list_of_numbers))

150

In [21]:
print(max(list_of_numbers))

50

In [22]:
print(min(list_of_numbers))

10

In [23]:
print(items.count("cat"))

1

# Tuples

In [25]:
colors = ("red", "blue", "green", "yellow")
print(colors[1])

blue

In [26]:
colors[1] = "purple"
print(colors)  # Turples are immutable

TypeError: 'tuple' object does not support item assignment

In [37]:
list_of_numbers = [2, 3, 4, 5, 6]
tuple_of_numbers = tuple(list_of_numbers)

print(tuple_of_numbers)

(2, 3, 4, 5, 6)

In [39]:
print("blue" in colors)

True

In [41]:
print(len(colors))

4

In [43]:
print(colors[-2:])

('green', 'yellow')

In [45]:
tuple1 = ("orange", "pink")
tuple2 = ("indigo", "white")
tuple3 = tuple1 + tuple2
print(tuple3)

('orange', 'pink', 'indigo', 'white')

In [47]:
coordinates = (5, 10)
x = coordinates[0]
y = coordinates[1]

print(f"The x_coordinate is: {x}", f"The y_coordinate is: {y}")

The x_coordinate is: 5 The y_coordinate is: 10

In [49]:
num = ( 1, 2, 3, 4)
print(max(num))

4

In [51]:
tuple_of_numbers = (2, 3, 4, 5, 6)
list_of_numbers = list(tuple_of_numbers)
print(list_of_numbers)

tuple_of_numbers = tuple(list_of_numbers)
print(tuple_of_numbers)

[2, 3, 4, 5, 6]
(2, 3, 4, 5, 6)

# Dictionary

In [53]:
dict_students = {"Funmi": 90, "Anthonia": 100, "Victoria": 80}
print(dict_students)

{'Funmi': 90, 'Anthonia': 100, 'Victoria': 80}

In [55]:
dict_students["Kelly"] = 75
print(dict_students)

{'Funmi': 90, 'Anthonia': 100, 'Victoria': 80, 'Kelly': 75}

In [57]:
dict_students["Victoria"] = 85
print(dict_students)

{'Funmi': 90, 'Anthonia': 100, 'Victoria': 85, 'Kelly': 75}

In [59]:
del dict_students["Victoria"]
print(dict_students)

{'Funmi': 90, 'Anthonia': 100, 'Kelly': 75}

In [61]:
print(dict_students.keys())

dict_keys(['Funmi', 'Anthonia', 'Kelly'])

In [63]:
print(dict_students.values())

dict_values([90, 100, 75])

In [65]:
key = "Funmi"
print(key in dict_students)

True

In [67]:
print(dict_students.get("Anthonia"))

100

In [69]:
for key, value in dict_students.items():
    print(f"{key}: {value}")

Funmi: 90
Anthonia: 100
Kelly: 75

In [71]:
squares_dict = {x: x**2 for x in range(1, 11)}
print(squares_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}